<header>
  <span id="login" class="layout center">
    <a href="#" class="login-pic" title="Sign in"><img src="/img/user_24px.svg"></a>
    <a href="#" class="login-email" title="Click here to sign out"><img src="/img/user-signed-in.svg"></a>
  </span>
  <hgroup>
    <h1 class="title layout center-center"><a href="./stats">dev-web firehose</a></h1>
    <h4 class="subtitle">stats &amp; analytics</h4>
  </hgroup>
  <div id="filtering" class="layout center-center" hidden>
    <span>Filtering posts by "<span class="filtering-needle"></span>".</span>
    <a href="#" class="filtering-clear" onclick="return clearFilters()"><img src="/img/clear_white_24px.svg"></a>
  </div>
</header>
<nav class="layout center-center">
  <a href="./stats">Table</a> &nbsp;&middot;&nbsp; <a href="./charts">Charts</a>
</nav>
