{% extends "base.html" %}

{% block title %}Metrics{% endblock %}

{% block head %}
<link rel="stylesheet" href="/admin/css/stats.css">
<link rel="modulepreload" href="/lit-html/lit-html.js">
<link rel="modulepreload" href="/lit-html/directives/repeat.js">
{% endblock %}

{% block header %}
  {% include "./header.html" %}
{% endblock %}

{% block content %}
<div class="pagination-links"></div>
<table>
  <thead>
    <tr>
      <th style="border-top-left-radius:5px;"></th>
      <th>URL</th>
      <th>Domain</th>
      <th id="views" class="sortable" onclick="sortByPageviews()">Views</th>
      <th>Author</th>
      <th style="border-top-right-radius:5px;" class="sortable" onclick="sortByDate()">Date</th>
    </tr>
    <tbody id="container">
      <tr>
        <td colspan="6">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </thead>
</table>
<div class="pagination-links"></div>
{% endblock %}

{% block scripts %}
<script type="module">
import {html, render} from '../lit-html/lit-html.js';
import * as stats from './stats.js';
import {renderPaginationLinks} from '../render.js';

const links = html`${renderPaginationLinks()}`;
document.querySelectorAll('.pagination-links').forEach(container => {
  render(links, container);
});

stats.list(); // async
</script>
{% endblock %}
