{% extends "base.html" %}

{% block title %}Metrics{% endblock %}

{% block head %}
<link rel="stylesheet" href="/admin/css/stats.css">
<link rel="modulepreload" href="/lit-html/lit-html.js">
<link rel="modulepreload" href="/lit-html/directives/repeat.js">
<script type="module" src="/admin/stats.js"></script>
{% endblock %}

{% block header %}
  {% include "./header.html" %}
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th style="border-top-left-radius:5px;"></th>
      <th>URL</th>
      <th>Domain</th>
      <th id="views" class="sortable" onclick="sortByPageviews()">Views</th>
      <th>Author</th>
      <th style="border-top-right-radius:5px;" class="sortable" onclick="sortByDate()">Date</th>
    </tr>
    <tbody id="container">
      <tr>
        <td colspan="6">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </thead>
</table>
{% endblock %}

{% block scripts %}

{% endblock %}
