service cloud.firestore {
  match /databases/{database}/documents {
    function isGoogler() {
      return request.auth.token.email.matches('.*@google[.]com');
    }
    match /{document=**} {
      allow write: if isGoogler();
      allow read;
    }
  }
}
